 ____________{% for i in range(ansible_fqdn | length) %}_{% endfor %}_
< Welcome on {{ ansible_fqdn }} >
 ------------{% for i in range(ansible_fqdn | length) %}-{% endfor %}-
   \
    \
        .--.
       |o_o |
       |:_/ |
      //   \ \
     (|     | )
    /'\_   _/`\
    \___)=(___/

This machine is ansible managed. Think before you change things by hand.

