# {{ ansible_managed }}

{% for rule in firewall_rule_rules %}
{{ rule.protocol }} dport { {{ rule.dport | join(", ") }} }
{%- if rule.sport is defined %} sport { {{ rule.sport | join(", ") }} }{% endif %} {{ rule.action }}
{%- if rule.comment is defined %} comment "{{ rule.comment }}"{% endif %}
{% endfor %}
